@import 'red-hat-palette';

@each $rh-color in $rh-palette {
  .#{ nth( $rh-color, 1 ) }-foreground {
    color: nth( $rh-color, 2 );

    &:link:visited { color: nth( $rh-color, 2 ); }
  }
  .#{ nth( $rh-color, 1 ) }-background {
    background-color: nth( $rh-color, 2 );
  }
  .#{ nth( $rh-color, 1 ) }-border {
    border-color: nth( $rh-color, 2 );
  }
}
